Potential URL host encoding

https://github.com/aspnet/Security/issues/1646#issuecomment-366311408

@tratcher I'm following up on this comment: https://github.com/aspnet/Security/issues/1646#issuecomment-366311408

You said that you felt we had a bug here: https://github.com/IdentityServer/IdentityServer4/blob/ecffbb062485b0656461eba4af5648dc9f45a589/src/IdentityServer4/Hosting/BaseUrlMiddleware.cs#L31

and you gave the recommendation to use `ToUriComponent()` instead of `Value`. 

When the request URL is `https://грант.рф` then `request.Host.Value` is `грант.рф`, and `request.Host.ToUriComponent()` is `xn--80af5akm.xn--p1ai`. So it seems like I don't want to use `ToUriComponent()`, despite the recommendation you gave.

What am I missing?

Yes, the punycode version is safe for headers and navigation and will flow through any system in a compatible way. The unicode version is only for display in user interfaces, i.e. the browser navigation bar.

The only pending question is if the issuer should also be punycoded or left in its original unicode form. I emailed the OIDC spec mailing list to ask.

FWIW, here's a reply from the OIDC spec mailing list:
-------------------------------------------------------

During the OpenID Connect standardization, many of us thought that allowing Unicode characters in the URI causes too much troubles like administrator phisihing through look-alike characters. So, for the authority section at least, I would opt to ASCII strings but that is just a practice.
 
Spec-wise, only the provision that OpenID Connect has on Unicode is this:
 
> 14.  String Operations

> Processing some OpenID Connect messages requires comparing values in the messages to known values. For example, the Claim Names returned by the UserInfo Endpoint might be compared to specific Claim Names such as sub. Comparing Unicode strings, however, has significant security implications.
> Therefore, comparisons between JSON strings and other Unicode strings MUST be performed as specified below:
> 1.    Remove any JSON applied escaping to produce an array of Unicode code points.
> 2.    Unicode Normalization [USA15] MUST NOT be applied at any point to either the JSON string or to the string it is to be compared against.
> 3.    Comparisons between the two strings MUST be performed as a Unicode code point to code point equality comparison.
> In several places, this specification uses space delimited lists of strings. In all such cases, a single ASCII space character (0x20) MUST be used as the delimiter.

Unfortunately, it does not say anything about the encoding of the document, but per the RFC7159, the JSON document not confined within a closed environment, MUST be represented in UTF-8. (Note: it was not until December 2017! We need to update the reference in the Discovery spec.)  
 
On the other hand, RFC3986 states:
 
> The reg-name syntax allows percent-encoded octets in order to
   represent non-ASCII registered names in a uniform way that is
   independent of the underlying name resolution technology.  Non-ASCII
   characters must first be encoded according to UTF-8 [STD63], and then
   each octet of the corresponding UTF-8 sequence must be percent-
   encoded to be represented as URI characters.  URI producing
   applications must not use percent-encoding in host unless it is used
   to represent a UTF-8 character sequence.  When a non-ASCII registered
   name represents an internationalized domain name intended for
   resolution via the DNS, the name must be transformed to the IDNA
   encoding [RFC3490] prior to name lookup.  URI producers should
   provide these registered names in the IDNA encoding, rather than a
   percent-encoding, if they wish to maximize interoperability with
   legacy URI resolvers.
 
This makes it clear that URL can actually contain UTF-8 encoded characters.
So, https://müsik.example.com/ is a valid URL. The requirement is that the user-agent must transform the hostname to punnycode before submitting to the name resolver.
 
So the RFC 3986 compliant client must be able to cope with UTF-8 URI as long as the encoding is clear from the underlying context.
 
My personal conclusion is then:
 

1. 

1 Since discovery document is UTF-8, it should use UTF-8 encoded authority section.
2 Since JWT header and body is JSON, it MUST be UTF-8.
3 The client library SHOULD transform the UTF-8 authority section to punnycode before submitting to the DNS resolver. A client MUST make sure that the library that it is using does so unless it is using a IDN enabled modern DNS resolver.
 
Punnycoded string is extremely user-unfriendly for Asian and other characters. I would advocate for using UTF-8 in the JSON document and tell the client developer of the 3) above if they get an error with it, but YMMV.
 
Best,
 
Nat

> URI producers should
provide these registered names in the IDNA encoding, rather than a
percent-encoding, if they wish to maximize interoperability with
legacy URI resolvers.

The IDP (IdentityServer4) is the url producer in this case, not ASP.NET.

> The IDP (IdentityServer4) is the uri producer in this case, in the metadata document, not ASP.NET.

This is, in essence, the change I have made for this issue. But Nat's suggestion is different, no? He's suggesting the client library be aware of this possibility and handle it as well.

