Using JWTs as Authorization Grants

I'd like to use JWTs as authorisation grants as per RFC 7523, [section 2.1](https://tools.ietf.org/html/rfc7523#section-2.1) specifically I want to allow a setup similar to Googles "OAuth2.0 for Service Accounts" setup, where the "sub" field in the JWT can be used to request delegated access to resources on that users behalf.

[This page](http://docs.identityserver.io/en/release/intro/specs.html) says that IdentityServer server supports RFC 7523, however from what I can tell its the "Using JWTs for Client Authentication" part of the spec that is supported. Does IdentityServer 4 implement the "Using JWTs as Authorization Grants" part of RFC 7523? If not is there a desire to support this in the future?

It is not built-in. But this can be added by an extension grant.

If you come up with something re-usable and want to contribute it, start a PR so we can have a discussion.

Will do - thanks for the info on extension grants