Support different client authentication on Introspection endpoint

As defined by [RFC7662](https://tools.ietf.org/html/rfc7662#section-2.1)

> this endpoint MUST also require some form of authorization to access this endpoint, such as client authentication as described in OAuth 2.0 [RFC6749] or a separate OAuth 2.0 access token such as the bearer token described in OAuth 2.0 Bearer Token Usage [RFC6750]. 

Currently the Introspection endpoint only support client authentication only by [Secrets](http://docs.identityserver.io/en/release/topics/secrets.html). 

There is not extensions point to support another client authentication like Bearer [RFC6750](https://tools.ietf.org/html/rfc6750) or client assertion [RFC7521](https://tools.ietf.org/html/rfc7521)

Our introspection endpoint uses the `SecretParser` internally, which handles all the different types of secrets we support.  Look at the client samples that uses JWTs for authentication using asymmetric secrets. Youd[' have to morph it for introspection (since the sample is for a client authN)

`Secret` is an extensibility mechanism - the docs only explain shared secrets. In our clients sample - there is a sample for using private key JWTs.

https://github.com/IdentityServer/IdentityServer4/issues/1311

Great! Thanks for the explanations. 

Oh! Just a last question... We are expecting to use the private_key_jwt client authentication. 
I have not seen this kind of client authentication in the IdentityModel library. Am I wrong ?