Support for rejecting JWT with expirations too far in the future

**Is your feature request related to a problem? Please describe.**
[Section 3 of RFC7523](https://tools.ietf.org/html/rfc7523#section-3) mentions:
> 4. The JWT MUST contain an "exp" (expiration time) claim that
        limits the time window during which the JWT can be used.  The
        authorization server MUST reject any JWT with an expiration time
        that has passed, subject to allowable clock skew between
        systems.  Note that the authorization server may reject JWTs
        with an "exp" claim value that is unreasonably far in the
        future.

The first part of this is already very well covered by [IdentityServer `PrivateKeyJwtSecretValidator`](https://github.com/IdentityServer/IdentityServer4/blob/18897890ce2cb020a71b836db030f3ed1ae57882/src/IdentityServer4/src/Validation/Default/PrivateKeyJwtSecretValidator.cs#L121) and the [`JwtSecurityTokenHandler` from AzureAD](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/05e02b5e0383be40e45c667c12f6667d38e33fcc/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L816).
My question covers the second part of the extract: What would be the best way to reject JWTs with an "exp" claim that is, for example, more than 30 days from now?

**Describe the solution you'd like**
I would like to have an option on the `PrivateKeyJwtSecretValidator`, such that it would be possible to register some options in the DI to influence this behavior.
Here would be a suggestion:
```csharp
public class JwtValidationParameters {
    public TimeSpan? MaxTokenLifetime { get; set; } = null;
}
```

Ideally, this validation would happen [after the "exp" has been validated, but before the jti is added to the `ReplayCache`](https://github.com/IdentityServer/IdentityServer4/blob/18897890ce2cb020a71b836db030f3ed1ae57882/src/IdentityServer4/src/Validation/Default/PrivateKeyJwtSecretValidator.cs#L126).

**Describe alternatives you've considered**
For now, my alternative is to create my own instance of the `PrivateKeyJwtSecretValidator` and copy-paste some parts of it.

**Additional context**
N/A


After further consideration, we have come to the conclusion that this kind of feature isn't really necessary given that "jti" cover the most obvious attack surface for leaked JWTs. Even if the expiration was far in the future, it would only be usable once... Even though I still think this feature could be useful, I don't see a necessity for it right now, so I am closing this issue.