Scope claim in the access_token should be a JSON string

Related to #1061
The `scope` claim provided in the access token is a JSON array of strings. There was do indication of the structure of this claim initialy, but there is now a RFC and draft that define the `scope` claim as a JSON string:
[OAuth 2.0 Token Exchange](https://tools.ietf.org/html/rfc8693#section-4.2) : 

>    The value of the "scope" claim is a JSON string containing a space-
   separated list of scopes associated with the token, in the format
   described in Section 3.3 of [RFC6749].


[JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://tools.ietf.org/html/draft-ietf-oauth-access-token-jwt-10#section-2.2.3)

>    If an authorization request includes a scope parameter, the
   corresponding issued JWT access token SHOULD include a "scope" claim
   as defined in Section 4.2 of [RFC8693].


My bad, this is managed by the `EmitScopesAsSpaceDelimitedStringInJwt ` option.