[Device Flow] Token response does not contain "scope" property

We are using IdentityServer4 library v2.4.0 to build our Authorization Server. We implemented/enabled the device code flow. We noticed that the token response does not contain "scope" property if user has not consented to all requested scopes. However, according to the [RFC6749 section 5.1](https://tools.ietf.org/html/rfc6749#section-5.1), the "scope" property is "required" if consented scopes are different than requested scopes.

We also verified this against the demo server provided by you.

Do you plan to implement this feature soon?



Please have a look @scottbrady91.

@brockallen Device flow sets the authorized scopes, but I'm not seeing scope returned from the token endpoint at all: https://github.com/IdentityServer/IdentityServer4/blob/master/src/IdentityServer4/src/Endpoints/Results/TokenResult.cs#L52

So, scope is defined as a parameter on the token endpoint in the original OAuth spec. Would that ever be necessary outside of device flow?

@brockallen ping?

Dp we have a unit test that shows the expected result, but should be failing if the report is correct? That's the best way to go about repo'ing and then fixing.

merged.